
/* Estilos gerais */
body, html {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    box-sizing: border-box;
}

/* Estrutura principal */
main {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 80%;
    margin: 5vh auto;
    padding: 50px;
    padding-left: 200px;
    box-shadow: 2px 2px 10px var(--shadow-color);
    gap: 20px;
}

/* Tabela */
table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
}

table th, table td {
    padding: 10px;
    border: 1px solid #ddd;
    text-align: left;
}

table th {
    background-color: #f4f4f4;
    font-weight: bold;
}

/* Paginação */
.pagination-controls {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
    padding-left: 38%;
}

.pagination-button {
    padding: 8px 12px;
    border: none;
    background-color: #5f53e7;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
}

.pagination-button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}

#pageIndicator {
    font-size: 16px;
    color: #333;
}

/* Rodapé */
footer {
    width: 100%;
    text-align: center;
    font-weight: 200;
    font-style: italic;
    padding: 20px;
}

/* Responsividade */
@media (max-width: 480px) {
    header {
        position: fixed;
        width: 100%;
    }

    .header-title {
        font-size: 1.5rem;
    }

    main {
        padding: 0;
        margin: 20px 0 0 0;
        width: 100%;
        box-shadow: none;
    }
}







/*

body, html {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    box-sizing: border-box;
  }



body, html {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    box-sizing: border-box;
  }

main{
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 80%;
    margin: 5vh auto;
    padding: 50px;
    padding-left: 200px;
    box-shadow: 2px 2px 10px var(--shadow-color);
    gap: 20px;
}

footer{
    width:100;
    text-align: center;
    font-weight: 200;
    font-style: italic;
    padding: 20px;
}

@media (max-width:480px){
    header{
        position:fixed;
        width:100%;
    }
    .header-title{
        font-size: 1.5rem;
    }

    main{
        padding: 0;
        margin: 20px 0 0 0;
        width:100%;
        box-shadow: none;
    }
}

*/






