@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");



.topo {
    width: 100%;
    background-color: #6027cc;
    display: flex; /* Flexbox para organizar os itens */
    align-items: center; /* Alinha verticalmente ao centro */
    justify-content: space-between; /* Espaça os itens */
    padding: 20px; /* Espaçamento interno */
    box-sizing: border-box; /* Garante que o padding seja contabilizado dentro da largura */
}

.topo i {
    font-size: 50px; /* Ícone do gráfico */
    color: #5f53e7;
    margin-left: 250px; /* Deslocamento à esquerda */
}

.topo h1 {
    margin: 0;
    margin-left: 20px; /* Espaçamento entre o ícone e o título */
    font-size: 24px;
    font-weight: 500;
    color: #c6c6c6;
    flex-grow: 1; /* O título ocupa o espaço restante */
}

.topo .icon {
  font-size: 25px !important; /* Força o tamanho do ícone */
  color: #fff; /* Cor do ícone de usuário */
  margin-right: 10px; /* Espaçamento antes da linha */
}


.vertical-line {
    height: 27px; /* Altura da linha */
    width: 2px; /* Largura da linha */
    background-color: #ccc; /* Cor da linha */
    margin-right: 13px; /* Espaçamento da linha vertical com o texto */
    margin-left: 2px;
}

.topo li {
    list-style: none; /* Remove os marcadores */
    font-size: 16px; /* Tamanho da fonte */
    color: #fff; /* Adiciona cor ao texto */
    font-weight: 500; /* Peso da fonte para combinar com o estilo */
    text-align: right; /* Garante que o texto fique alinhado à direita */
    white-space: nowrap; /* Evita quebra de linha */
    padding-bottom: 25px;
}